{% extends gestHospital_base_html %}

{% block titulo %}
<title>Smart Rehabilitation T-Shirt System - Objectives</title>
{% endblock %}

{% block contenido %}

<h1> Physical Rehabilitation and the SRTS Project</h1>
<p class="lead">
    Within the field of health, physical rehabilitation is a fundamental pillar that is often overlooked despite its immense importance. According to the World Health Organization (WHO), it is estimated that 2.4 billion people worldwide have health conditions that benefit from rehabilitation. Moreover, the WHO considers rehabilitation one of the essential services defined in universal health coverage and highlights how a huge portion of rehabilitation needs remain unmet. Low- and middle-income countries stand out, where over 50% of people do not receive the needed rehabilitation services [1].
</p>
<p class="lead">
    After suffering a physical or neurological injury, the next steps involve a slow and sometimes complex recovery process, which requires collaboration between different medical specialists and the patient. During this period, the effectiveness of rehabilitation is crucial, providing numerous advantages and minimizing future risks.
</p>
<p class="lead">
    Despite the benefits, various challenges may hinder a person’s ability to engage in a rehabilitation process. Factors such as a lack of time or transportation difficulties can lead to the end of in-person rehabilitation. Moreover, within the healthcare system, there are also issues like professional and personalized equipment shortages, highlighting the problem of inequality in access to rehabilitation services.
</p>
<p class="lead">
    Failure to carry out proper rehabilitation can have long-term detrimental effects on a patient’s health, leading to chronic injuries and significantly reducing their quality of life, making them physically dependent.
</p>
<p class="lead">
    A possible solution to these challenges is the use of wearable sensors and artificial intelligence (AI). These technologies could complement or even take the place of physical therapists, enhancing rehabilitation plans tailored to each patient. By deploying technology capable of offering rehabilitation support anywhere in the world, it would help to reduce disparities in healthcare access and extend the reach of healthcare professionals.
</p>
<p class="lead">
    This is the aim of the Smart Rehabilitation T-Shirt System (SRTS), designed to address the pressing need to enhance physical rehabilitation and injury recovery within healthcare, providing an accessible and efficient solution for patients around the world.
</p>

{% endblock %}
