{% extends gestHospital_base_html %}

{% block titulo %}
    <title>Hospital de Barataria - Noticias</title>
{% endblock %}

{% block contenido %}
    <h1> Cómo predecir el deterioro cognitivo con una sencilla prueba</h1>
    <p class="lead">
        Un estudio publicado online por&nbsp;<strong><em>Neurology</em>, la revista de la Academia Americana de Neurología</strong>, 
        ha descubierto que se puede predecir con un test sencillo el riesgo de desarrollar deterioro cognitivo en el futuro.
    </p>
    <p class="lead">
        "Cada vez hay más pruebas de que algunas personas que no tienen problemas de pensamiento ni de memoria pueden tener en realidad
         signos muy sutiles de deterioro cognitivo temprano. En nuestro estudio, &nbsp;<strong>una prueba de memoria sensible y
          sencilla predijo el riesgo de desarrollar deterioro cognitivo</strong> en personas que, por lo demás, se consideraba que tenían 
          una cognición normal", señala la autora del estudio, la doctora Ellen Grober, de la Facultad de Medicina Albert Einstein. <a onclick="variarContenido()" href="#">Ver más...</a>
    </p>
    <div id="extra" class= "extra1">
        <p class="lead">
            En el estudio participaron &nbsp;<strong>969 personas con una edad media de 69 años sin problemas de pensamiento</strong> o memoria al inicio de la investigación. 
            Se les sometió a una sencilla prueba de memoria y se les hizo un seguimiento de hasta 10 años.
        </p>
        <p class="lead">
            &nbsp;<strong>La prueba consta de dos fases. En la fase de estudio, se muestran a las personas cuatro tarjetas</strong>, cada una con dibujos de cuatro elementos. 
            Se les pide que identifiquen el elemento que pertenece a una categoría determinada. 
            Por ejemplo, los participantes nombrarían el artículo "uvas" después de que se les pidiera que identificaran una "fruta".
        </p>
    </div>

    <p><a href="https://www.elmundo.es/ciencia-y-salud/salud/2023/04/20/6440e0cae4d4d893728b45cb.html" target="_blank">Ver noticia completa</a></p>

{% endblock %}













